OPENAI_API_KEY=your-openai-api-key-here

# GCP
PROJECT_ID=your-gcp-project-id-here
REGION=your-gcp-region-here
SERVICE_NAME=your-service-name-here
CLIENT_URL=your-client-url-here # e.g., http://localhost:5173 or https://yourdomain.com

# Port (automatically set by Cloud Run, default: 8080)
PORT=8080